[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".vim/bundle/auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".tmux/tmux-yank"]
	path = .tmux/tmux-yank
	url = git://github.com/tmux-plugins/tmux-yank
